
    body, html {
        height: 100%;
        margin: 0;
        font: 400 15px/1.8;
        font-family: monospace;
        
      }
      .nav-item{
          font-family: monospace;
          font-size:15px;
          
      }
      .navbar-light .navbar-nav .nav-link{
          color: aliceblue;
      }
      
      .bgimg-1, .bgimg-2, .bgimg-3 {
        position: relative;
        opacity: 0.65;
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      
      }
      .bgimg-1 {
        min-height: 100%;
        background-image: url("assets/backimages/image_part_001.jpg");
      }
      .bgimg-2 {
        min-height: 400px;
        background-image: url("assets/backimages/image_part_002.jpg");
      }
      
      .bgimg-3 {
        min-height: 400px;
        background-image: url("assets/backimages/image_part_003.jpg");
      }

      .caption {
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        text-align: center;
        color: #000;
      }
      
      .caption span.border1 {
        
        color: aliceblue;
        padding: 18px;
        font-size: 65px;
        letter-spacing: 5px;
      } 
      
      h3 {
        letter-spacing: 5px;
        text-transform: uppercase;
        font: 20px "Lato", sans-serif;
        color: #111;
      }
      
      /* Turn off parallax scrolling for tablets and phones */
      @media only screen and (max-device-width: 1024px) {
        .bgimg-1, .bgimg-2, .bgimg-3 {
          background-attachment: scroll;
        }
      }
      
  
      .social {
         margin-top: 20px;
      }
  
      .title{
          font-size: 20px;
          letter-spacing: 2px;
          color:aliceblue;
          
      }
  
    .socialicon{
       height: 50px;
      width: 50px
      }
  
  
      h1 { 
          font-size: 3.5em; 
          color: pink;
      }
      #border {
        
          color: aliceblue;
          padding: 18px;
          font-size: 65px;
          letter-spacing: 5px;
          font-family: monospace;
      }
      .portfolio {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        width: 100%;
        height:auto;
        
      }
   .portfolio:hover {
     box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
        
      } 
  
      .card{
        width: 100%;
        object-fit: cover;
        padding: 0;
        border:none;
    }
  
    .card-img-overlay{
      font-size: 20px;
      color:orchid;
  
    }
  
    .overlay{
    
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px;
        text-align: center;
      
    }
  
    .card:hover .overlay {
      opacity: 1;
    }
    
    .form-group {
        font-family: monospace;
        font-size: 20px ;
        color: grey;
    }

    .formheader{
        size: 30px;
        font-family: monospace;
        color: black;
    }

    